body {
  background-image: url("assets/sky.gif");
  background-size: cover;
  height: 100vh;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1,
a {
  animation: coolAnimation 5s infinite;
}

@keyframes coolAnimation {
  0% {
    color: darkblue;
  }
  50% {
    color: hotpink;
  }
  100% {
    color: purple;
  }
}
